@model S14L3.Models.ClienteViewModel

@{
    ViewData["Title"] = "Cinema";
}

<h3>Acquista Biglietto</h3>

<div>
    <form method="post" asp-controller="Cinema" asp-action="Add">

        <div>
            <label for="firstName" asp-for="Nome" class="form-label"></label>
            <input id="firstName" asp-for="Nome" class="form-control" />
            <span class="text-danger" asp-validation-for="Nome"></span>
        </div>

        <div>
            <label for="surname" asp-for="Cognome" class="form-label"></label>
            <input id="surname" asp-for="Cognome" class="form-control" />
            <span class="text-danger" asp-validation-for="Cognome"></span>
        </div>

        <div>
            <label for="ticketType" asp-for="TipoBiglietto" class="form-label">Biglietto ridotto meno di 10 anni</label>
            <input type="checkbox" id="ticketType" asp-for="TipoBiglietto" class="form-check-input" />
            <span class="text-danger" asp-validation-for="TipoBiglietto"></span>
        </div>

        <div>
            <label for="Sala" asp-for="Sala" class="form-label"></label>
            <select asp-for="Sala" asp-items="Model.Sale" class="form-control"></select>
        </div>

        @if (TempData["Error"] != null)
        {
            <p class="text-danger">@TempData["Error"]</p>
        }

        <div class="d-flex justify-content-between">
            <div>
                <p class="h6">Numero di biglietti prenotati nella SALA NORD: @Model.SalaNORD.Count</p>
                <p class="h6">di cui ridotti: @Model.SalaNORD.Count(x => x._tipoBiglietto == true)</p>
            </div>

            <div>
                <p class="h6">Numero di biglietti prenotati nella SALA SUD: @Model.SalaSUD.Count</p>
                <p class="h6">di cui ridotti: @Model.SalaSUD.Count(x => x._tipoBiglietto == true)</p>
            </div>

            <div>
                <p class="h6">Numero di biglietti prenotati nella SALA EST: @Model.SalaEST.Count</p>
                <p class="h6">di cui ridotti: @Model.SalaEST.Count(x => x._tipoBiglietto == true)</p>
            </div>
        </div>

        <div>
            <button class="btn btn-success" type="submit">Acquista</button>
            <button class="btn btn-warning" type="reset">Reset</button>
        </div>
    </form>
</div>
